<app-header value = "Basel"></app-header>
<h2 style="text-align: center;">Willkommen auf Hamster-Webseite</h2>
<hr style="text-align: center; width: 90%;"/>
<div class = "cl_Hamster_Container">
    <!--
        -- erste Methode
        <app-hamster-card *ngFor="let i of [0,1,2,3]" [text] = "hamsterTexte[i]" [image]="hamsterBilder[i]"></app-hamster-card>
    -->
    <div style="width: 48%;">
        <app-friend-box></app-friend-box>
        <app-hamster-card *ngFor="let i of hamsterInfos" [hamsterInfos] = "i"></app-hamster-card>
    </div>
    <app-vorschlaege style="width: 48%; background-color:aliceblue; height: 450px; border-radius: 6px;"></app-vorschlaege>
</div>